# Step 1

In [1]:
# Import libraries

import pandas as pd
import numpy as np
import os

In [9]:
path = '/Users/vinhdao/Documents/Instacart Basket Analysis'
ords_prods_merge = pd.read_pickle(os.path.join(path, '02 Data', 'Prepared Data', 'orders_products_merged_derived.pkl'))

# Step 2

In [10]:
# creat subset
ords_prods_merge_sub=ords_prods_merge[:1000000]

In [11]:
ords_prods_merge_sub.groupby(['department_id']).agg({'order_number':['mean']})

              order_number
                      mean
department_id
1                15.562844
2                17.518895
3                16.907152
4                17.537934
5                14.894521
6                16.658449
7                17.072954
8                14.942021
9                15.447580
10               18.681852
11               15.352278
12               14.327957
13               16.578690
14               16.666369
15               16.153766
16               17.768070
17               15.602964
18               19.674252
19               16.924344
20               16.292631
21               25.535596

In [12]:
# Use groupby and agg functions to calculate mean of user_order_number
ords_prods_merge.groupby(['department_id']).agg({'order_number':['mean']})

              order_number
                      mean
department_id
1                15.457687
2                17.277920
3                17.179756
4                17.811403
5                15.213779
6                16.439806
7                17.225773
8                15.340520
9                15.895474
10               20.197148
11               16.170828
12               15.887622
13               16.583304
14               16.757377
15               16.165037
16               17.663250
17               15.694469
18               19.310397
19               17.177343
20               16.473447
21               22.902379

## Step 3:

There are 21 distinct department IDs in the full dataset, while only 8 are present in the subset of 100,000 entries. Additionally, the average number of orders varies across departments when considering the entire dataset

## Step 4:

In [13]:
# Creating new column "max_order"

ords_prods_merge['max_order'] = ords_prods_merge.groupby(['user_id'])['order_number'].transform(np.max)

/var/folders/jv/pcn4vwxj5lg68vdqcxnmbgv00000gn/T/ipykernel_1413/1980913435.py:3: FutureWarning: The provided callable <function max at 0x10691f880> is currently using SeriesGroupBy.max. In a future version of pandas, the provided callable will be used directly. To keep current behavior pass the string "max" instead.
  ords_prods_merge['max_order'] = ords_prods_merge.groupby(['user_id'])['order_number'].transform(np.max)

In [7]:
# Checking for new column
ords_prods_merge.head(20)

,product_id,product_name,aisle_id,department_id,prices,order_id,user_id,eval_set,order_number,order_dow,order_hour_of_day,add_to_cart_order,reordered,_merge,max_order
0,1,Chocolate Sandwich Cookies,61,19,5.8,3139998,138,prior,28,6,11,5,0,both,32
1,1,Chocolate Sandwich Cookies,61,19,5.8,1977647,138,prior,30,6,17,1,1,both,32
2,1,Chocolate Sandwich Cookies,61,19,5.8,389851,709,prior,2,0,21,20,0,both,5
3,1,Chocolate Sandwich Cookies,61,19,5.8,652770,764,prior,1,3,13,10,0,both,3
4,1,Chocolate Sandwich Cookies,61,19,5.8,1813452,764,prior,3,4,17,11,1,both,3
5,1,Chocolate Sandwich Cookies,61,19,5.8,1701441,777,prior,16,1,7,7,0,both,26
6,1,Chocolate Sandwich Cookies,61,19,5.8,1871483,825,prior,3,2,14,2,0,both,9
7,1,Chocolate Sandwich Cookies,61,19,5.8,1290456,910,prior,12,3,10,1,0,both,12
8,1,Chocolate Sandwich Cookies,61,19,5.8,369558,1052,prior,10,1,20,1,0,both,20
9,1,Chocolate Sandwich Cookies,61,19,5.8,589712,1052,prior,15,1,12,2,1,both,20
10,1,Chocolate Sandwich Cookies,61,19,5.8,1798115,1379,prior,1,5,11,1,0,both,10
11,1,Chocolate Sandwich Cookies,61,19,5.8,497193,1480,prior,36,3,13,1,0,both,43
12,1,Chocolate Sandwich Cookies,61,19,5.8,1727826,1480,prior,38,4,13,3,1,both,43
13,1,Chocolate Sandwich Cookies,61,19,5.8,2694698,1480,prior,39,2,12,4,1,both,43
14,1,Chocolate Sandwich Cookies,61,19,5.8,3171753,1494,prior,6,3,10,8,0,both,13
15,1,Chocolate Sandwich Cookies,61,19,5.8,186761,1494,prior,7,2,8,18,1,both,13
16,1,Chocolate Sandwich Cookies,61,19,5.8,317121,1494,prior,9,5,8,12,1,both,13
17,1,Chocolate Sandwich Cookies,61,19,5.8,200390,1540,prior,4,2,0,10,0,both,28
18,1,Chocolate Sandwich Cookies,61,19,5.8,374436,1540,prior,5,1,21,9,1,both,28
19,1,Chocolate Sandwich Cookies,61,19,5.8,2920553,1540,prior,6,1,0,9,1,both,28

In [8]:
# Assign loyalty flag
ords_prods_merge.loc[ords_prods_merge['max_order'] > 40, 'loyalty_flag'] = 'Loyal customer'

ords_prods_merge.loc[(ords_prods_merge['max_order'] <= 40) & (ords_prods_merge['max_order'] > 10), 'loyalty_flag'] = 'Regular customer'

ords_prods_merge.loc[ords_prods_merge['max_order'] <= 10, 'loyalty_flag'] = 'New customer'

In [9]:
# Check loyalty flags
ords_prods_merge['loyalty_flag'].value_counts(dropna = False)

loyalty_flag
Regular customer    15891077
Loyal customer      10293737
New customer         6249398
Name: count, dtype: int64

In [10]:
ords_prods_merge[['user_id', 'loyalty_flag', 'order_number','max_order']].head(20)

    user_id      loyalty_flag  order_number  max_order
0       138  Regular customer            28         32
1       138  Regular customer            30         32
2       709      New customer             2          5
3       764      New customer             1          3
4       764      New customer             3          3
5       777  Regular customer            16         26
6       825      New customer             3          9
7       910  Regular customer            12         12
8      1052  Regular customer            10         20
9      1052  Regular customer            15         20
10     1379      New customer             1         10
11     1480    Loyal customer            36         43
12     1480    Loyal customer            38         43
13     1480    Loyal customer            39         43
14     1494  Regular customer             6         13
15     1494  Regular customer             7         13
16     1494  Regular customer             9         13
17     1540  Regular customer             4         28
18     1540  Regular customer             5         28
19     1540  Regular customer             6         28

## Step 5

In [11]:
# the min max and mean of each loyalty flag
ords_prods_merge.groupby(['loyalty_flag']).agg({'prices':['mean','min','max']})

                     prices
                       mean  min      max
loyalty_flag
Loyal customer    10.388747  1.0  99999.0
New customer      13.294370  1.0  99999.0
Regular customer  12.496203  1.0  99999.0

New customers have the lowest product prices, both in terms of average and maximum. Loyal customers, on the other hand, have the highest product prices in both average and maximum values.

## Step 6:

In [14]:
# Creating column for average spender
ords_prods_merge['average_spend']=ords_prods_merge.groupby(['user_id'])['prices'].transform(np.mean)

/var/folders/jv/pcn4vwxj5lg68vdqcxnmbgv00000gn/T/ipykernel_1413/655122787.py:2: FutureWarning: The provided callable <function mean at 0x10692c2c0> is currently using SeriesGroupBy.mean. In a future version of pandas, the provided callable will be used directly. To keep current behavior pass the string "mean" instead.
  ords_prods_merge['average_spend']=ords_prods_merge.groupby(['user_id'])['prices'].transform(np.mean)

In [16]:
# Creating flag for low and high spender
ords_prods_merge.loc[ords_prods_merge['average_spend']<10,'spender_flag']='Low_spender'

ords_prods_merge.loc[ords_prods_merge['average_spend']>= 10, 'spender_flag'] = 'High_spender'

In [17]:
# Check spender flags
ords_prods_merge['spender_flag'].value_counts(dropna = False)

spender_flag
Low_spender     31798751
High_spender      635461
Name: count, dtype: int64

In [18]:
pd.options.display.max_rows = 100

In [19]:
ords_prods_merge[['user_id', 'average_spend', 'spender_flag', 'prices']].head(100)

    user_id  average_spend  spender_flag  prices
0       138       6.935811   Low_spender     5.8
1       138       6.935811   Low_spender     5.8
2       709       7.930208   Low_spender     5.8
3       764       4.972414   Low_spender     5.8
4       764       4.972414   Low_spender     5.8
5       777       6.935398   Low_spender     5.8
6       825       5.957576   Low_spender     5.8
7       910       6.680000   Low_spender     5.8
8      1052       7.162500   Low_spender     5.8
9      1052       7.162500   Low_spender     5.8
10     1379       5.813636   Low_spender     5.8
11     1480       5.139394   Low_spender     5.8
12     1480       5.139394   Low_spender     5.8
13     1480       5.139394   Low_spender     5.8
14     1494       6.803797   Low_spender     5.8
15     1494       6.803797   Low_spender     5.8
16     1494       6.803797   Low_spender     5.8
17     1540       6.607122   Low_spender     5.8
18     1540       6.607122   Low_spender     5.8
19     1540       6.607122   Low_spender     5.8
20     1540       6.607122   Low_spender     5.8
21     1540       6.607122   Low_spender     5.8
22     1540       6.607122   Low_spender     5.8
23     1540       6.607122   Low_spender     5.8
24     1540       6.607122   Low_spender     5.8
25     1540       6.607122   Low_spender     5.8
26     1540       6.607122   Low_spender     5.8
27     1540       6.607122   Low_spender     5.8
28     1540       6.607122   Low_spender     5.8
29     1540       6.607122   Low_spender     5.8
30     1540       6.607122   Low_spender     5.8
31     1540       6.607122   Low_spender     5.8
32     1540       6.607122   Low_spender     5.8
33     1540       6.607122   Low_spender     5.8
34     1598       7.123529   Low_spender     5.8
35     1598       7.123529   Low_spender     5.8
36     1598       7.123529   Low_spender     5.8
37     1647       4.853521   Low_spender     5.8
38     1647       4.853521   Low_spender     5.8
39     1647       4.853521   Low_spender     5.8
40     1647       4.853521   Low_spender     5.8
41     1647       4.853521   Low_spender     5.8
42     2833       7.377143   Low_spender     5.8
43     2850       8.054153   Low_spender     5.8
44     2857       8.387075   Low_spender     5.8
45     3010       6.452800   Low_spender     5.8
46     3029       7.960606   Low_spender     5.8
47     3395       6.322222   Low_spender     5.8
48     3904       7.511111   Low_spender     5.8
49     4006       7.441100   Low_spender     5.8
50     4006       7.441100   Low_spender     5.8
51     4006       7.441100   Low_spender     5.8
52     4006       7.441100   Low_spender     5.8
53     4006       7.441100   Low_spender     5.8
54     4122       7.598765   Low_spender     5.8
55     4141       6.033333   Low_spender     5.8
56     4343       7.393939   Low_spender     5.8
57     4553       5.715789   Low_spender     5.8
58     4845       7.229630   Low_spender     5.8
59     6866       4.807143   Low_spender     5.8
60     7275       4.620833   Low_spender     5.8
61     7669       9.106757   Low_spender     5.8
62     7669       9.106757   Low_spender     5.8
63     7669       9.106757   Low_spender     5.8
64     7981       7.115714   Low_spender     5.8
65     7981       7.115714   Low_spender     5.8
66     7981       7.115714   Low_spender     5.8
67     7981       7.115714   Low_spender     5.8
68     7981       7.115714   Low_spender     5.8
69     8703       6.605652   Low_spender     5.8
70     8723       5.677397   Low_spender     5.8
71     8735       5.850000   Low_spender     5.8
72     9293      11.857143  High_spender     5.8
73     9293      11.857143  High_spender     5.8
74     9467       7.709091   Low_spender     5.8
75     9694       7.075354   Low_spender     5.8
76     9694       7.075354   Low_spender     5.8
77     9694       7.075354   Low_spender     5.8
78     9694       7.075354   Low_spender     5.8
79     9694       7.075354   Low_spender     5.8
80     9694       7.075354   Low_spender     5.8
81     9694       7.075354   Low_spender     5.8
82     9694       7.075354   Low_spender     5.8
83     9694       7.075354   Low_spender     5.8
84     9694       7.075354   Low_spender     5.8
85     9694       7.075354   Low_spender     5.8
86     9848       8.312203   Low_spender     5.8
87    10113       8.769565   Low_spender     5.8
88    10315      10.188889  High_spender     5.8
89    10479       7.779775   Low_spender     5.8
90    10708       7.777403   Low_spender     5.8
91    10708       7.777403   Low_spender     5.8
92    10789       6.097701   Low_spender     5.8
93    10789       6.097701   Low_spender     5.8
94    10789       6.097701   Low_spender     5.8
95    10831       7.494286   Low_spender     5.8
96    11119       5.878641   Low_spender     5.8
97    11186       6.662105   Low_spender     5.8
98    11243       5.927149   Low_spender     5.8
99    11448       5.981250   Low_spender     5.8

## Step 7:

In [20]:
# Create a column for frequet users
ords_prods_merge['Customer_frequency'] = ords_prods_merge.groupby(['user_id'])['days_since_prior_order'].transform(np.median)

/var/folders/jv/pcn4vwxj5lg68vdqcxnmbgv00000gn/T/ipykernel_1413/3165240341.py:2: FutureWarning: The provided callable <function median at 0x106f40360> is currently using SeriesGroupBy.median. In a future version of pandas, the provided callable will be used directly. To keep current behavior pass the string "median" instead.
  ords_prods_merge['Customer_frequency'] = ords_prods_merge.groupby(['user_id'])['days_since_prior_order'].transform(np.median)

In [21]:
# Creating flag on order frequency
ords_prods_merge.loc[ords_prods_merge['Customer_frequency'] > 20, 'frequency_flag'] = 'Non_frequent_customer'

ords_prods_merge.loc[(ords_prods_merge['Customer_frequency']>10) & (ords_prods_merge['Customer_frequency']<=20),'frequency_flag'] = 'Regular customer'

ords_prods_merge.loc[ords_prods_merge['Customer_frequency'] <= 10, 'frequency_flag'] = 'Frequent Customer'

In [22]:
# Check frequency flags

ords_prods_merge['frequency_flag'].value_counts(dropna = False)

frequency_flag
Frequent Customer        21577409
Regular customer          7217134
Non_frequent_customer     3639669
Name: count, dtype: int64

In [7]:
ords_prods_merge

,order_id,user_id,eval_set,order_number,order_dow,order_hour_of_day,days_since_prior_order,product_id,add_to_cart_order,reordered,_merge,Customer_frequency,frequency_flag
0,2539329,1,prior,1,2,8,NaN,196,1,0,both,20.5,Non_frequent_customer
1,2539329,1,prior,1,2,8,NaN,14084,2,0,both,20.5,Non_frequent_customer
2,2539329,1,prior,1,2,8,NaN,12427,3,0,both,20.5,Non_frequent_customer
3,2539329,1,prior,1,2,8,NaN,26088,4,0,both,20.5,Non_frequent_customer
4,2539329,1,prior,1,2,8,NaN,26405,5,0,both,20.5,Non_frequent_customer
...,...,...,...,...,...,...,...,...,...,...,...,...,...
32434484,2977660,206209,prior,13,1,12,7.0,14197,5,1,both,22.0,Non_frequent_customer
32434485,2977660,206209,prior,13,1,12,7.0,38730,6,0,both,22.0,Non_frequent_customer
32434486,2977660,206209,prior,13,1,12,7.0,31477,7,0,both,22.0,Non_frequent_customer
32434487,2977660,206209,prior,13,1,12,7.0,6567,8,0,both,22.0,Non_frequent_customer
32434488,2977660,206209,prior,13,1,12,7.0,22920,9,0,both,22.0,Non_frequent_customer

In [23]:
ords_prods_merge.to_pickle(os.path.join(path, '02 Data', 'Prepared Data', 'aggregated_ords_prods_merge.pkl'))